streamlit
pandas
python-dateutil
fpdf
openpyxl
gspread
gspread-dataframe
google-auth-oauthlib
st-gsheets-connection
google-auth-httplib2
google-api-python-client
plotly
streamlit-option-menu
statsmodels

